@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Generales*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FCF8E8;
}

/*Componente principal*/
.container{
    width: 95%;
    margin: auto;
    padding-top: 50px;
    display: flex;
}

.left-content,.right-content{
    flex-basis: 50%;
}

/*Componente izquierdo*/
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 2rem;
    padding: 10px;
}

/*Card contenedor de los pokemon*/
.card{
    width: 19rem;
    background-color: #A0D995;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    padding: 0.8rem;
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.2s linear;
}

.card:hover{
    box-shadow: 6px 6px 6px 2px rgba(0,0,0,0.47);
    background-color: #53BF9D;
}

.card h3{
    color: #242424;
    font-size: 0.95rem;
}

.card h2{
    font-size: 1.3rem;
    color: #1B1A17;
}

.btn-group{
    display: flex;
}

.btn-group button{
    background-color: #61dafb;
    border-radius: 6px;
    color: #212121;
    cursor: pointer;
    outline: none;
    border: none;
    letter-spacing: 1px;
    width: 9rem;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    margin: 1rem;
    text-transform:uppercase;
    border: 2px #39A2DB solid;
}

.btn-group button:hover{
    background-color: #47B5FF;
}

/*Componente derecho*/
.right-content{
    padding: 10px;
    width: 44%;
    text-align: center;
    color: #1B2430;
    position: fixed;
    top: 60px;
    right: 34px;
}

.right-content img{
    margin:2rem;
    height: 12rem;
}

.right-content h1{
    color: #1966B3;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.abilities{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.group{
    background-color: #EB5353;
    color: #F2F2F2;
    padding: 0.6rem;
    font-size: 0.7rem;
    border-radius: 8px;
    width: 8rem;
    margin: 5px;
    border: 2px #1B1A17 solid;
}

.base-stat{
    color: #2C3333;
    margin: 2rem;
}